<!DOCTYPE html>
<html>
  <head>
    <title>Conversion Site</title>
  </head>
  <body>
      <h1>Use these to Convert!</h1>
    <form action='/responseK'>
      Turn Kilograms into Grams <br>
      <input type="text"
       name="kilograms">
      <br><br>
      <input type="submit">
    </form>
      <form action='/responseN'>
      Newtons to Dynes<br>
      <input type="text"
       name="newtons">
      <br><br>
      <input type="submit">
    </form>
      <form action='/responseS'>
      Dollars to feet of subway sandwiches<br>
      <input type="text"
       name="sandwich">
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
