<!DOCTYPE html>
<html>
  <head>
    <title>Conversion Site</title>
  </head>
  <body>
      <h1>Conversion tools below</h1>
    <form action='/responseM'>
      Enter Miles Per Hour to find out Kilometers Per Hour<br>
      <input type="text"
       name="mph">
      <br><br>
      <input type="submit">
    </form>
      <form action='/responseV'>
      U.S Dollar Value to Euro<br>
      <input type="text"
       name="value">
      <br><br>
      <input type="submit">
    </form>
      <form action='/responseS'>
      Dollars to feet of subway sandwiches<br>
      <input type="text"
       name="sandwich">
      <br><br>
      <input type="submit">
    </form>

  </body>
</html>
