<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>

    <form action='/response'>
      {% block question %}{% endblock %} <br>
      <input type="text" name="{% block name %} {% endblock %}">
      <br><br>
      <input type="submit">
    </form>
    
    <h1>Response:</h1>
    <p> {{ response }}</p>
  </body>
</html>
